/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    #prm_img_bottom {
        width: 315px; 
    }
    #prm_img_flower {
        width: 315px; 
        bottom: 55px;
    }
    #prm_img_glass {
        width: 315px; 
        bottom: 55px;
    }
}


@media only screen and (max-width : 1024px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #prm_img_constructor {
        display: none;
    }
    .wrap_label {
        margin-top: 30px;
        width: 100%;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .prm_img_wrapp {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logo_container {
        margin-top: -15px;
        font-size: 55px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
